
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.imagens img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .imagens img {
        flex: 1 1;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .imagens img {
        flex: 1 1;
    }
}

@media (max-width: 767px) {
    .imagens img {
        flex: 1 1;
    }
}

@media (max-width: 480px) {
    .imagens img {
        flex: 1 1;
    }
}
